<nav class="navbar sticky-top navbar-expand-md navbar-light" style="background-color: #273746;" >
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://www.isu.gov.tr/assets/images/smalllogo.png" alt="" width="60" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="btn btn-outline-light me-2" href="/" role="button">AnaSayfa</a>
        </li> 
        <div class="btn-group">
          <a type="button" class="btn btn-outline-light" href="/jenerator/">Jeneratör</a>
          <button type="button" class="btn btn-outline-light dropdown-toggle dropdown-toggle-split me-2" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/admin/jenerator/arizalar/add/">Arıza Ekle</a></li>
            <li><a class="dropdown-item" href="/admin/jenerator/periyodik/add/">Periyodik Ekle</a></li>
            <li><a class="dropdown-item" href="/admin/jenerator/filtrelibakim/add/">Filtreli Bakım Ekle</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/admin/jenerator/jeneratorler/add/">Jeneratör Ekle</a></li>
            <li><a class="dropdown-item" href="/admin/jenerator/tesisler/add/">Tesis Ekle</a></li>
          </ul>
        </div> 
        <div class="btn-group">
          <a type="button" class="btn btn-outline-light" href="/katodik/">Katodik</a>
          <button type="button" class="btn btn-outline-light dropdown-toggle dropdown-toggle-split me-2" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/admin/katodik/panolar/add/">Pano Ölçüm Ekle</a></li>
            <li><a class="dropdown-item" href="/admin/katodik/panolar/add/">ÖK Ölçüm Ekle</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/admin/katodik/panolar/add/">Pano Arıza Ekle</a></li>
            <li><a class="dropdown-item" href="/admin/katodik/panolar/add/">ÖK Arıza Ekle</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/admin/katodik/panolar/add/">Pano Ekle</a></li>
            <li><a class="dropdown-item" href="/admin/katodik/panolar/add/">Ölçü Kutusu Ekle</a></li>
            <li><a class="dropdown-item" href="/admin/katodik/hatlar/add/">Hat Ekle</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/katodikizleme/">Katodik İzleme</a></li>
          </ul>
        </div> 
        </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="btn btn-outline-light me-2" href="/admin">Yönetim Paneli</a>
        </li> 
      </ul>
    </div>
  </div>
</nav>